.how__section {
	border-top: 1px solid $grey;
	padding-bottom: 2em;
	padding-top: 2em;
	}

.how__section *:last-child {
	margin-bottom: 0;
	}

.how__structure {
	padding-top: 4em;
	}

.how__section h2 {
	margin-bottom: 0.5em;
	margin-top: -.15em;
	@media (min-width: $breakpoint-medium) {
		font-size: 1.5em;
	    margin-bottom: 0;
	    }
	}

.how__aims h3 {
	margin-bottom: 1em;
	}

.how__aims ul {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 2.5em;
	margin-top: 2em; 
	width: 100%;
	}

.how__aims li {
	border: 3px solid $dark-blue;
	border-radius: 10px 0 10px 0;
	color: $dark-blue;
	font-size: 1.2em;
	line-height: 1.2;
	margin-bottom: 1em;
	padding: 1em;
	position: relative;
	text-align: center;
	transition: all 0.2s linear;
	&:hover, &:focus, &:active {
		border-radius: 0 10px 0 10px;
		}
	}

.big-number {
	border: 1px solid $grey;
	font-size: 2em;
	padding: 0.5em;
	}

.big-number .digits {
	font-size: 2em;
	font-weight: bold; 
	}
