.gradient {
    background: linear-gradient(to right, $light-blue 0%,$dark-blue 80%);
    height: 10px;
    @media (min-width: $breakpoint-medium) {
        background: linear-gradient(to right, $light-blue 0%,$dark-blue 80%);
        }
    }

.skip-link.away:focus {
    background: #fff;
    left: 1em !important; 
    padding: 0.5em;
    z-index: 999; 
    }

[role="banner"] {
    background: $dark-blue;
    @media (min-width: $breakpoint-large) {
        margin-bottom: 1em;
        }
    }

.logo {
    line-height: 1.2;
    margin-top: 15px;
    @media (min-width: $breakpoint-large) {
        margin-top: 1.5em;
        }
    }

.logo a {
    color: #fff;
    margin-right: 1em;
    font-size: 0.9em;
    @media (min-width: 30em) {
        font-size: 1.4em;
        }
    @media (min-width: $breakpoint-large) {
        font-size: 1.6em;
        }
    @media (min-width: $breakpoint-xlarge) {
        font-size: 2em;
        }
    }

[role="banner"] .nhs-logo {
    text-align: right;
    @media (min-width: $breakpoint-medium) {
        margin-top: 1.2em;
        }
    }

.nhs-logo img {
    width: 45px;
    @media (min-width: $breakpoint-medium) {
        margin-right: -8px;
        width: 70px;
        }
    @media (min-width: $breakpoint-xlarge) {
        margin-right: -10px;
        width: 80px;
        }
    }

.js .expanding-search {
    display: none;
    @media (min-width: $breakpoint-medium) {
        display: block;
        }
    }

.js .expanding-search.show {
    display: block;
    }

.expanding-search__toggle {
    @media (min-width: $breakpoint-medium) {
        display: none;
        }
    }

.expanding-search__toggle a:before {
    margin-right: 0;
    }

[role="search"] {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    position: relative;
    @media (min-width: $breakpoint-medium) {
        margin-bottom: 2em;
        margin-top: 1.5em;
        }
    @media (min-width: $breakpoint-large) {
        margin-bottom: 2em;
        margin-top: 1.5em;
        }
    }

[role="search"] input {
    border-radius: 4px;
    font-size: 0.8em;
    height: 34px;    
    line-height: 34px;
    padding-left: 0.75em;
    padding-right: 1.5em;
    transition: all 0.1s linear;
    width: 100%;
    @media (min-width: $breakpoint-large) {
        height: 44px;    
        line-height: 44px;
        }
    &:hover, &:focus, &:active {
        font-size: 1em;
        height: 50px;
        margin-bottom: -8px;
        margin-top: -8px;
        @media (min-width: $breakpoint-large) {
            height: 60px;  
            }
        }
    }

[role="search"] .button:before {
    margin-right: 0;
    }

[role="search"] .button {
    background: transparent;
    border-radius: 0;
    color: $light-blue;
    padding: 0;
    position: absolute;
    right: 0.75em;
    top: 0.25em;
    @media (min-width: 30em) {
        font-size: 1em;
        }
    @media (min-width: $breakpoint-medium) {
        font-size: 0.9em;
        top: 0.4em;
        }
    @media (min-width: 50em) {
        font-size: 1em;
        }
    @media (min-width: $breakpoint-large) {
        top: 0.55em;
        }
    &:hover, &:focus, &:active {
        color: $dark-blue; 
        }
    }

[role="navigation"] ul {
    @media (max-width: $breakpoint-medium) {
        display: flex;
        margin-top: 0.5em;
        justify-content: space-between;
        }
    @media (min-width: $breakpoint-medium) {
        margin-left: 5px;
        }
    @media (min-width: $breakpoint-large) {
        margin-left: -0.6em;
        }
    @media (min-width: $breakpoint-xlarge) {
        margin-left: -0.6em;
        }
    }

[role="navigation"] li {
    @media (min-width: $breakpoint-medium) {
        float: left;
        }
    }

[role="navigation"] li a {
    border-radius: 8px 8px 0 0;
    color: #fff;
    display: block;
    font-size: 0.7em;
    margin-right: 1px;
    padding: 14px 3px 10px 3px;
    transition: none;
    @media (min-width: 30em) {
        font-size: 1em;
        padding: 14px 0.5em 10px 0.5em;
        }
    @media (min-width: $breakpoint-medium) {
        font-size: 0.9em;
        padding: 14px 15px 10px 15px;
        }
    @media (min-width: $breakpoint-large) {
        font-size: 1.2em;
        padding: 14px 1.5em 10px 1.5em;
        }
    @media (min-width: $breakpoint-xlarge) {
        font-size: 1.2em;
        padding: 14px 1.5em;
        }
    &.active, &:hover, &:focus, &:active {
        background: #fff;
        color: $light-blue;
        border-top: 4px solid $light-blue;
        padding-top: 10px;
        text-decoration: none;
        }
    }

[role="navigation"] li.expanding-search__toggle a {
    &:hover, &:focus, &:active {
        background: transparent;
        color: #fff;
        border-top: 0;
        padding-top: 14px;
        }
    }

.masthead__follow {
    display: none;
    @media (min-width: $breakpoint-medium) {
        display: block;
        font-size: 1.2em;
        margin-top: 0.6em;
        text-align: right;
        }
    @media (min-width: $breakpoint-large) {
        font-size: 1.6em;
        margin-top: 0.4em;
        }
    }

.masthead__follow a:before {
    margin-right: 0;
    }

.masthead__follow a {
    color: #fff;
    margin-left: 1em;
    }

.masthead__follow a:first-child {
    margin-left: 0;
    }