.search-results__list {
    border-bottom: 1px solid $grey;
    }

.search-results__list li {
    border-top: 1px solid $grey;
    padding-bottom: 1em;
    padding-top: 1em;
    }

.search-results__list__description {
    color: #000;
    }