.search-results__filter {
	color: #3F4C51;
	margin-left: 1em;
	}

.search-results__filter:before {
	color: darken($grey,40%);
	margin-right: 0.35em;
	}

.search-results__filter.disabled:before {
	color: darken($grey,20%);
	}

.search-results__list {
    border-bottom: 1px solid $grey;
    }

.search-results__list li {
    border-top: 1px solid $grey;
    padding-bottom: 1em;
    padding-top: 1em;
    }

.search-results__list__description {
    color: #000;
    }