@using Lucene.Net.Util
@using NssCorporateUmbraco.Code.Base.Constants
@using NssCorporateUmbraco.Code.Base.Extensions
@inherits UmbracoViewPage

@{
    var sbuBodyText = Model.GetPropertyValue(Up.Content.Common.Text).ToString();

    var sbu = Model.Get("sbuPicker");
    var sbuContent = Umbraco.TypedContent(sbu);
    var sbuLink = sbuContent.ConvertUrlSingle("callToAction");

    var sbuClass = sbuContent.Get("uniqueName");
}

@if (sbuLink.HasValue() || sbuBodyText != "")
{
    <div class="col small-12 medium-12 large-4 xlarge-4 push--large-1">
        <section class="article__contact module push--bottom clearfix">
            <h2 class="module__header">Contact</h2>
            <div class="module__body">

                @if (sbuLink.HasValue() && sbuClass.HasValue())
                {
                    @:This service is offered by
                    <a class="article__sbu @sbuClass" href=@sbuLink.Url>
                        @sbuLink.Title
                    </a>
                }
                else if (sbuContent.HasValue())
                {
                    @:This service is offered by
                    <p>@sbuContent.Name</p>
                }
                @if (sbuBodyText.HasValue())
                {
                    @Html.Raw(sbuBodyText)
                }
            </div>
        </section>
    </div>
}
