.button {
	background: $light-blue;
	border-radius: 4px;
	color: #fff;
	display: inline-block;
	padding: 0.5em 0.75em;
	text-align: center; 
	transition: background-color 0.3s linear, color 0.3s linear;
	@media (min-width: $breakpoint-large) {
	    padding: 0.75em 1em; 
	    }
	&:hover, &:focus, &:active {
		background: $dark-blue;
		color: #fff;
		text-decoration: none;
		}
	}

.button i:before {
	margin-left: 0.5em;
	margin-right: 0;
	}