html, 
body, 
button, 
input, 
select, 
textarea {
	color: #3F4C51;
	font-family: 'Helvetica LT W01 Roman', sans-serif;
	line-height: 1.4;
	}

strong, 
b {
	font-family:'Helvetica LT W01 Bold', sans-serif;
	font-weight: normal;
	}

em {
	font-family:'Helvetica LT W01 Obliqu1489444', sans-serif;
	}

.light-type {
	font-family: 'Helvetica LT W01 Light', sans-serif;
	font-weight: normal;
	}

p {
	margin-bottom: 0.75em;
	}

h1 {
	font-family: 'Helvetica LT W01 Light', sans-serif;
	font-size: 1.6em;
	font-weight: normal;
	letter-spacing: -1px;
	@media (min-width: 60em) {
	    font-size: 1.9em;
	    }
	}

h2, 
h3 {
	font-family:'Helvetica LT W01 Bold', sans-serif;
	font-size: 1.3em;
	font-weight: normal;
	line-height: 1.2;
	}

h3 {
	font-size: 1em;
	}

small, 
.small {
	font-size: 0.7em;
	}

.break {
	display: inline-block;
	}