@using NssCorporateUmbraco.Code.Base.Extensions
@inherits UmbracoViewPage
@{
    Layout = "_basePage.cshtml";
}

<main class="home" id="content">
	<div class="hero push--bottom clearfix">
		<div class="wrapper">
			<div class="col small-12 medium-6 large-6 xlarge-6">
				<h2 class="light-type">Annual report 2015</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, praesentium quaerat officiis sequi vel.</p>
				<a class="button" href="#">Read it now</a>
			</div>
		</div>
	</div>
	<div class="wrapper clearfix">
	    <div class="home__intro light-type col small-12 medium-12 large-12 xlarge-9 push--bottom">
	        <p>We’re a national NHS Board operating right at the heart of NHS Scotland. Through our services we provide invaluable support and advice. A role we also extend to the wider public sector. <a href="/how-nss-works/">Find out more <i class="icon-angle-right"></i></a></p>
	    </div>
	    <div class="col small-12 medium-12 large-12 xlarge-12">
	    	<h2 class="light-type">Services</h2>
	    </div>
	    <ul class="modules">
			        <li class="module col padded small-12 medium-6 large-4 xlarge-3 push--bottom">
	            <h2 class="module__header">
	                <a href="/services/blood-tissues-and-cells/">
	                    Blood, tissues and cells
	                    <i class="icon-angle-right"></i>
	                </a>
	            </h2>
	            <div class="module__body">
	                            <a href="/services/blood-tissues-and-cells/blood/">Blood</a>,                            <a href="/services/blood-tissues-and-cells/tissues-and-cells/">Tissues and cells</a>,                            <a href="/services/blood-tissues-and-cells/clinical-resources/">Clinical resources</a>,                            <a href="/services/blood-tissues-and-cells/research-development-and-innovation/">Research, development and innovation</a>,                            <a href="/services/blood-tissues-and-cells/training/">Training</a>,                            <a href="/services/blood-tissues-and-cells/testing/">Testing</a>
	            </div>
	        </li>
	        <li class="module col padded small-12 medium-6 large-4 xlarge-3 push--bottom">
	            <h2 class="module__header">
	                <a href="/services/legal-services/">
	                    Legal services
	                    <i class="icon-angle-right"></i>
	                </a>
	            </h2>
	            <div class="module__body">
	                            <a href="/services/legal-services/litigation/">Litigation</a>,                            <a href="/services/legal-services/employment/">Employment</a>,                            <a href="/services/legal-services/commercial-property/">Commercial property</a>,                            <a href="/services/legal-services/commercial-contracts/">Commercial contracts</a>
	            </div>
	        </li>
	        <li class="module col padded small-12 medium-6 large-4 xlarge-3 push--bottom">
	            <h2 class="module__header">
	                <a href="/services/it/">
	                    IT
	                    <i class="icon-angle-right"></i>
	                </a>
	            </h2>
	            <div class="module__body">
	                            <a href="/services/it/architecture-and-consulting/">Architecture and consulting</a>,                            <a href="/services/it/contract-and-vendor-management/">Contract and vendor management </a>,                            <a href="/services/it/it-project-management/">IT project management</a>,                            <a href="/services/it/solutions-and-applications/">Solutions and applications</a>,                            <a href="/services/it/accreditation-and-testing/">Accreditation and testing</a>,                            <a href="/services/it/solution-stewardship/">Solution stewardship</a>,                            <a href="/services/it/infrastructure-services/">Infrastructure services</a>
	            </div>
	        </li>
	        <li class="module col padded small-12 medium-6 large-4 xlarge-3 push--bottom">
	            <h2 class="module__header">
	                <a href="/services/facilities/">
	                    Facilities
	                    <i class="icon-angle-right"></i>
	                </a>
	            </h2>
	            <div class="module__body">
	                            <a href="/services/facilities/capital-projects/">Capital projects</a>,                            <a href="/services/facilities/asset-management/">Asset management</a>,                            <a href="/services/facilities/equipping-services/">Equipping services</a>,                            <a href="/services/facilities/engineering-environment-and-decontamination/">Engineering, environment and decontamination</a>
	            </div>
	        </li>
	        <li class="module col padded small-12 medium-6 large-4 xlarge-3 push--bottom">
	            <h2 class="module__header">
	                <a href="/services/procurement/">
	                    Procurement
	                    <i class="icon-angle-right"></i>
	                </a>
	            </h2>
	            <div class="module__body">
	                            <a href="/services/procurement/strategic-sourcing/">Strategic sourcing</a>,                            <a href="/services/procurement/commercial-services/">Commercial services</a>,                            <a href="/services/procurement/procurement-services/">Procurement services</a>
	            </div>
	        </li>
	        <li class="module col padded small-12 medium-6 large-4 xlarge-3 push--bottom">
	            <h2 class="module__header">
	                <a href="/services/specialist-healthcare/">
	                    Specialist healthcare
	                    <i class="icon-angle-right"></i>
	                </a>
	            </h2>
	            <div class="module__body">
	                            <a href="/services/specialist-healthcare/specialist-clinical-services/">Specialist clinical services</a>,                            <a href="/services/specialist-healthcare/population-screening/">Population screening</a>,                            <a href="/services/specialist-healthcare/national-network-management-services/">National network management services</a>
	            </div>
	        </li>
	        <li class="module col padded small-12 medium-6 large-4 xlarge-3 push--bottom">
	            <h2 class="module__header">
	                <a href="/services/practitioner-services/">
	                    Practitioner services
	                    <i class="icon-angle-right"></i>
	                </a>
	            </h2>
	            <div class="module__body">
	                            <a href="/services/practitioner-services/medical/">Medical</a>,                            <a href="/services/practitioner-services/pharmacy/">Pharmacy</a>,                            <a href="/services/practitioner-services/dental/">Dental</a>,                            <a href="/services/practitioner-services/opthalmic/">Opthalmic</a>
	            </div>
	        </li>
	        <li class="module col padded small-12 medium-6 large-4 xlarge-3 push--bottom">
	            <h2 class="module__header">
	                <a href="/services/counter-fraud/">
	                    Counter fraud
	                    <i class="icon-angle-right"></i>
	                </a>
	            </h2>
	            <div class="module__body">
	                            <a href="/services/counter-fraud/fraud-prevention/">Fraud prevention</a>,                            <a href="/services/counter-fraud/fraud-detection/">Fraud detection</a>,                            <a href="/services/counter-fraud/fraud-investigation/">Fraud investigation</a>
	            </div>
	        </li>
	        <li class="module col padded small-12 medium-6 large-4 xlarge-3 push--bottom">
	            <h2 class="module__header">
	                <a href="/services/data-intelligence/">
	                    Data intelligence
	                    <i class="icon-angle-right"></i>
	                </a>
	            </h2>
	            <div class="module__body">
	                            <a href="/services/data-intelligence/data-management/">Data management</a>,                            <a href="/services/data-intelligence/health-and-care-information-and-intelligence/">Health and care information and intelligence</a>,                            <a href="/services/data-intelligence/bespoke-services/">Bespoke services</a>,                            <a href="/services/data-intelligence/research-innovation-audit-and-clinical-trials-support/">Research, innovation, audit and clinical trials support</a>,                            <a href="/services/data-intelligence/health-management-and-information-libraries/">Health management and information libraries</a>
	            </div>
	        </li>
	        <li class="module col padded small-12 medium-6 large-4 xlarge-3 push--bottom">
	            <h2 class="module__header">
	                <a href="/services/health-protection/">
	                    Health Protection
	                    <i class="icon-angle-right"></i>
	                </a>
	            </h2>
	            <div class="module__body">
	                            <a href="/services/health-protection/immunisation-and-preventative-programmes/">Immunisation and preventative programmes</a>,                            <a href="/services/health-protection/health-threat-surveillance/">Health threat surveillance</a>,                            <a href="/services/health-protection/incident-and-outbreak-management/">Incident and outbreak management</a>,                            <a href="/services/health-protection/healthcare-associated-infection/">Healthcare Associated Infection</a>,                            <a href="/services/health-protection/travel-and-international-health/">Travel and international health</a>,                            <a href="/services/health-protection/workforce-education-and-development/">Workforce education and development</a>,                            <a href="/services/health-protection/research-and-intelligence/">Research and intelligence</a>
	            </div>
	        </li>
	        <li class="module col padded small-12 medium-6 large-4 xlarge-3 push--bottom">
	            <h2 class="module__header">
	                <a href="/services/programme-management/">
	                    Programme management
	                    <i class="icon-angle-right"></i>
	                </a>
	            </h2>
	            <div class="module__body">
	                            <a href="/services/programme-management/portfolio-management/">Portfolio management</a>,                            <a href="/services/programme-management/programme-and-project-delivery/">Programme and project delivery</a>,                            <a href="/services/programme-management/programme-assurance/">Programme assurance</a>,                            <a href="/services/programme-management/programme-management-office/">Programme management office</a>
	            </div>
	        </li>
	        <li class="module col padded small-12 medium-6 large-4 xlarge-3 push--bottom">
	            <h2 class="module__header">
	                <a href="/services/logistics/">
	                    Logistics
	                    <i class="icon-angle-right"></i>
	                </a>
	            </h2>
	            <div class="module__body">
	                            <a href="/services/logistics/warehouse-operations/">Warehouse operations</a>,                            <a href="/services/logistics/supply-chain/">Supply chain</a>,                            <a href="/services/logistics/distribution/">Distribution</a>,                            <a href="/services/logistics/fleet-management/">Fleet management</a>,                            <a href="/services/logistics/ward-product-management/">Ward product management</a>
	            </div>
	        </li>

		</ul>
	</div>
</main>
@Html.Partial("_Features")
