@using NssCorporateUmbraco.Code.Base.Extensions
@inherits UmbracoViewPage
@{
    Layout = "_basePage.cshtml";
}

<main class="search-results wrapper clearfix" id="content">
    <div class="breadcrumbs col small-12 medium-12 large-12 xlarge-12">
        @Html.Partial("Base/Navigation/Breadcrumb")
    </div>
    <div class="landing__header col small-12 medium-12 large-12 xlarge-12">
        <h1>Search results for 'blood'</h1>
        <div class="search-results__filters">
            1–10 of 1040 results from 
            <a class="search-results__filter icon-checked" href="#">Services</a>
            <a class="search-results__filter disabled icon-unchecked" href="#">How NSS works</a>
        </div>
    </div>
    
    <div class="col small-12 medium-12 large-9 xlarge-8">
        <ul class="search-results__list">
            <li>
                <a href="#">
                    <div class="breadcrumbs">
                        Services <i class="breadcrumb__chevron icon-right-open"></i> Blood, tissues and cells <i class="breadcrumb__chevron icon-right-open"></i>
                    </div>
                    <h2>Logistics</h2>
                    <p class="search-results__list__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et ducimus quod, recusandae amet reiciendis repellat enim earum aspernatur cumque reprehenderit cupiditate, eos voluptate. Eveniet tenetur eos, debitis commodi placeat, eaque.</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="breadcrumbs">
                        Services &gt; Logistics &gt;
                    </div>
                    <h2>Lorem ipsum dolor sit amet consectetur</h2>
                    <p class="search-results__list__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et ducimus quod, recusandae amet reiciendis repellat enim earum aspernatur cumque reprehenderit cupiditate, eos voluptate. Eveniet tenetur eos, debitis commodi placeat, eaque.</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="breadcrumbs">
                        How NSS works &gt; 
                    </div>
                    <h2>Lorem ipsum dolor sit amet consectetur</h2>
                    <p class="search-results__list__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et ducimus quod, recusandae amet reiciendis repellat enim earum aspernatur cumque reprehenderit cupiditate, eos voluptate. Eveniet tenetur eos, debitis commodi placeat, eaque.</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="breadcrumbs">
                        Services &gt; Blood, tissues and cells &gt;
                    </div>
                    <h2>Lorem ipsum dolor sit amet consectetur</h2>
                    <p class="search-results__list__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et ducimus quod, recusandae amet reiciendis repellat enim earum aspernatur cumque reprehenderit cupiditate, eos voluptate. Eveniet tenetur eos, debitis commodi placeat, eaque.</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="breadcrumbs">
                        Services &gt; Blood, tissues and cells &gt;
                    </div>
                    <h2>Lorem ipsum dolor sit amet consectetur</h2>
                    <p class="search-results__list__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et ducimus quod, recusandae amet reiciendis repellat enim earum aspernatur cumque reprehenderit cupiditate, eos voluptate. Eveniet tenetur eos, debitis commodi placeat, eaque.</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="breadcrumbs">
                        Services &gt; Blood, tissues and cells &gt;
                    </div>
                    <h2>Lorem ipsum dolor sit amet consectetur</h2>
                    <p class="search-results__list__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et ducimus quod, recusandae amet reiciendis repellat enim earum aspernatur cumque reprehenderit cupiditate, eos voluptate. Eveniet tenetur eos, debitis commodi placeat, eaque.</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="breadcrumbs">
                        Services &gt; Blood, tissues and cells &gt;
                    </div>
                    <h2>Lorem ipsum dolor sit amet consectetur</h2>
                    <p class="search-results__list__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et ducimus quod, recusandae amet reiciendis repellat enim earum aspernatur cumque reprehenderit cupiditate, eos voluptate. Eveniet tenetur eos, debitis commodi placeat, eaque.</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="breadcrumbs">
                        Services &gt; Blood, tissues and cells &gt;
                    </div>
                    <h2>Lorem ipsum dolor sit amet consectetur</h2>
                    <p class="search-results__list__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et ducimus quod, recusandae amet reiciendis repellat enim earum aspernatur cumque reprehenderit cupiditate, eos voluptate. Eveniet tenetur eos, debitis commodi placeat, eaque.</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="breadcrumbs">
                        Services &gt; Blood, tissues and cells &gt;
                    </div>
                    <h2>Lorem ipsum dolor sit amet consectetur</h2>
                    <p class="search-results__list__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et ducimus quod, recusandae amet reiciendis repellat enim earum aspernatur cumque reprehenderit cupiditate, eos voluptate. Eveniet tenetur eos, debitis commodi placeat, eaque.</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="breadcrumbs">
                        Services &gt; Blood, tissues and cells &gt;
                    </div>
                    <h2>Lorem ipsum dolor sit amet consectetur</h2>
                    <p class="search-results__list__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et ducimus quod, recusandae amet reiciendis repellat enim earum aspernatur cumque reprehenderit cupiditate, eos voluptate. Eveniet tenetur eos, debitis commodi placeat, eaque.</p>
                </a>
            </li>
        </ul>
        <div class="pagination push--top clearfix">
            <span class="pagination__prev icon-angle-left">Previous</span>
            <a class="pagination__next" href="#">Next<i class="icon-angle-right"></i></a>
        </div>
    </div>
</main>